<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <div class="splash text-center">
        <%= image_tag image_url("Redo-128.png"), {aria_hidden: "true", class: "rounded"} %>
        <h1 class="mb-0">Redo</h1>
        <p class="text-muted">Tasks Never Stop</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= form_for(resource, html: {class: "mt-4"}, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "password", class: "form-control", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit :sign_in.to_s.humanize, class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
<%= render "users/shared/links" %>
