<div class="row mt-3">
  <div class="col">
    <ul class="text-muted list-inline small link-list text-center">
      <%- if controller_name != 'sessions' %>
        <li class="list-inline-item"><%= link_to "Sign in", new_session_path(resource_name) %></li>
      <% end -%>

      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <li class="list-inline-item"><%= link_to "Sign up", new_registration_path(resource_name) %></li>
      <% end -%>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <li class="list-inline-item"><%= link_to "Forgot your password?", new_password_path(resource_name) %></li>
      <% end -%>

      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <li class="list-inline-item"><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></li>
      <% end -%>
    </ul>
  </div>
</div>
<%- if devise_mapping.omniauthable? %>
  <div class="row">
    <div class="col">
      <ul class="text-muted list-inline link-list text-center">
        <%- resource_class.omniauth_providers.each do |provider| %>
          <li class="list-inline-item"><%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %></li>
        <% end -%>
      </ul>
    </div>
  </div>
<% end -%>
<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div class="row">
    <div class="col">
        <small class="text-muted text-center"><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></small>
    </div>
  </div>
<% end -%>
