<div class="card">
  <div class="card-header">
    <h5>
      <% if task.done %>
        Next: <%= task.next_refresh? ? task.next_refresh.strftime("%D") : "???" %>
      <% else %>
        <%= task.task_type.titleize %></h5>
      <% end %>
  </div>
  <div class="card-body">
    <p><%= task.description %></p>
  </div>
  <div class="card-footer">
    <%= form_with url: tasks_path, local: true, method: :post, scope: :task, model: task do |f| %>
      <% if task.done %>
        <%= f.hidden_field :done, value: false %>
        <%= f.submit "Reset", class: "btn btn-secondary" %>
      <% else %>
        <%= f.hidden_field :done, value: true %>
        <%= f.submit "Done", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
